# .app file location based on the scheme you are trying to use. No `/` in the end
app_location=~/Library/Developer/Xcode/DerivedData/ChatApplication-*/Build/Products/Debug-iphonesimulator

# the bundle id based on the scheme you are trying to use
bundle_id=ir.test.ChatApplication

# list of simulators separated by comma. No spaces allowed between device ids.
simulators_list=82561ABB-948A-4A34-9A88-4CB2F03475BF,1EDF66B5-CD33-4C43-8DDF-877EA7484632
